@model Test_web_app.Models.Product

@using (Html.BeginForm("Add", "Warehouse", FormMethod.Post))
{
    @Html.ValidationSummary()

    <span>Nazwa produkt:</span> @Html.TextBoxFor(x => x.Name)
    <span>Opis:</span> @Html.TextBoxFor(x => x.Description)
    <span>Kategoria:</span> @Html.TextBoxFor(x => x.Category)

    <button type="submit">Dodaj produkt</button>
}