@model Test_web_app.Models.Product

@{
    ViewData["Title"] = "Add";
}

<h1>Formularz dodający produkt do magazynu</h1>

@Html.Partial("_AddProductForm", Model)
@Html.Partial("_AddProductForm", Model)
@Html.Partial("_AddProductForm", Model)
