@model Test_web_app.Models.Product

@{
    ViewData["Title"] = "Add";
}

<h1>Formularz dodający produkt do magazynu</h1>

@Html.Partial("_AddProductForm", Model)

<p>ID PO ZAPISIE (ViewData): <strong>@ViewData["ProductId"]</strong></p>
<p>ID PO ZAPISIE (TempData): <strong>@TempData["ProductId"]</strong></p>
